@using ChatApp.Models.Message
@model ChatViewModel

@{
	ViewBag.Title = "ChatApp";
}

<h3>Messeges:</h3>

@if(Model.Messages != null)
{
	@foreach (var mess in Model.Messages)
	{
		<div class="card bg-light col-6">
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p>@mess.MessageText</p>
					<footer class="blockquote-footer">@mess.Sender</footer>
				</blockquote>
			</div>
		</div>
	}
}
else
{
	<p>No messages yet!</p>
}

<br />

<form asp-controller="Chat" asp-action="Send" method="post">
	<div class="form-group card-header row">
		<div class="col-12">
			<h5>Send a new message</h5>
		</div>
		<div class="col-8">
			<label> Message: </label>
			<textarea asp-for="CurrentMessege.MessageText" class="form-control" rows="3"></textarea>
		</div>
		<div class="col-4">
			<label>Sender Name:</label>
			<input asp-for="CurrentMessege.Sender" class="form-control">
			<input class="btn btn-primary mt-2 float-lg-right" type="submit" value="Send" />
		</div>
	</div>

</form>